.enlace {
    cursor: pointer;
}

.enlace:hover {
    color: black;
}

a {
    color: #B7B7B7;
}

a:hover {
    color: white;
    cursor: pointer;
}

.categoria:hover {
    color: black;
}

.titulo {
    color: #B7B7B7;
}

.titulo:hover {
    color: white;
}

.slicknav_hidden {
    display: none;
}

.display-block {
    display: block;
}