<footer class="footer">
    <div class="page-up">
        <a (click)="arriba()" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a (click)="navegar()"><img
                            src="https://firebasestorage.googleapis.com/v0/b/animedgb.appspot.com/o/logo_ggs.png?alt=media&token=6a9c9ab5-7667-4e3a-a99e-de5eb03bca6a"
                            alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a (click)="navegar()">Página de Inicio</a></li>
                        <li><a (click)="verGeneros()">Generos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</footer>