<cargando></cargando>
<section class="product spad" *ngIf="animes">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Búsqueda de "{{busqueda}}"</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let anime of animes;index as i"
                            (click)="navegar(anime.nombre)">
                            <div class="product__item" *ngIf="i<6">
                                <div class="product__item__pic set-bg"
                                    style="background-image: url('{{anime.caratula}}')">
                                    <div class="ep">{{anime.episodios.length}}</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li>{{anime.estado}}</li>
                                        <li>{{anime.tipo}}</li>
                                    </ul>
                                    <h5><a>{{anime.nombre}}</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Recomendaciones</h5>
                        </div>
                        <div class="filter__gallery">
                            <div *ngFor="let anime of animesRandom;index as i">
                                <div *ngIf="i<4" class="product__sidebar__view__item set-bg mix day years"
                                    style="background-image: url('{{anime.img}}')" (click)="navegar(anime.nombre)">
                                    <div class="ep">{{anime.episodios.length}}</div>
                                    <div class="nombre">
                                        <a>{{anime.nombre}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>