<cargando></cargando>
<section class="product spad" *ngIf="animesPorCategorias">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product" *ngFor="let item of animesPorCategorias">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>{{item.categoria}}</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a (click)="mostrarCategoria(item.categoria)" class="primary-btn verMas">Ver todos<span
                                        class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let len of item.animes; index as i"
                            (click)="navegar(animes[len].nombre)">
                            <div class="product__item" *ngIf="i<3">
                                <div class="product__item__pic set-bg"
                                    style="background-image: url('{{animes[len].caratula}}')">
                                    <div class="ep">{{animes[len].episodios.length}}</div>
                                    <!--<div class="comment"><i class="fa fa-comments"></i> 11</div>
                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>-->
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li>{{animes[len].estado}}</li>
                                        <li>{{animes[len].tipo}}</li>
                                    </ul>
                                    <h5><a>{{animes[len].nombre}}</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Recomendados</h5>
                        </div>
                        <div class="filter__gallery">
                            <div class="product__sidebar__view__item set-bg" *ngFor="let item of animesRandom"
                                style="background-image: url('{{item.img}}')"
                                (click)="navegarRecomendacion(item.nombre)">
                                <div class="ep">{{item.episodios.length}}</div>
                                <h5><a>{{item.nombre}}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>