<section class="hero">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to=i [ngClass]="{'active': i==0}"
                    *ngFor="let anime of animes;index as i"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" [ngClass]="{'active': i==0}" *ngFor="let anime of animes;index as i"
                    (click)="navegar(anime.nombre)" title="Haga click para ver">
                    <img class="imagen d-block w-100" src="{{anime.img}}">
                    <div class="contenedorCaja carousel-caption d-none d-md-block">
                        <div class="caja">
                            <h2>{{anime.nombre}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>