a:hover {
    cursor: pointer;
}

.episodiosVistos {
    background-color: #e53637;
}

.comentario {
    color: black;
}

h5 {
    color: white;
}

.anime__review__item__text {
    border-left: 1px solid #e53637;
}

.tabla {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.botonBorrar {
    color: #d7d7d7;
    background-color: #e53637;
    overflow: hidden;
    border-radius: 10px;
}